<div class="home_container">
    <div class="header_container">
        <h1>Get info about any movie you want...</h1>
    </div>
    <div class="search">
        <input type="text" [(ngModel)]="movieName" placeholder="Enter a movie name..">
        <button (click)="goMovies()">Search Movie</button>
    </div>
    <div class="movies_info_container">
        <div class="front_of_pic">
            <img src="https://i.imgur.com/GQDdLEEg.jpg" alt="wonder_woman">
        </div>
        <div class="back-of_pic">
            <div class="details">
                <h2>Wonder woman</h2>
                <p>On the mystical island of Themyscira, a proud and fierce warrior race of Amazons have raised a
                    daughter of untold beauty, grace and strength: Princess Diana. When an Army fighter pilot, Steve
                    Trevor, crash-lands on the island, the rebellious and headstrong Diana defies Amazonian law by
                    accompanying Trevor back to civilization.</p>
                <a href="https://www.youtube.com/watch?v=1Q8fG0TtVAY">Link to movie trailer</a>

            </div>
        </div>
    </div>



    <div class="movies_info_container_harry">
        <div class="front_of_pic_harry">
            <img src="https://cdn11.bigcommerce.com/s-ydriczk/images/stencil/1280x1280/products/84616/93553/harry-potter-and-the-prisoner-of-azkaban-final-style-original-movie-poster-buy-now-at-starstills__52478.1569333467.jpg?c=2&imbypass=on"
                alt="harry">
        </div>
        <div class="back-of_pic_harry">
            <div class="details">
                <h2>Harry poter</h2>
                <p> Harry, Ron and Hermione return to Hogwarts for another magic-filled year. Harry comes face to face
                    with danger yet again, this time in the form of escaped convict, Sirius Black—and turns to
                    sympathetic Professor Lupin for help.</p>
                <a href="https://www.youtube.com/watch?v=lAxgztbYDbs">Link to movie trailer</a>

            </div>
        </div>
    </div>
    <div class="movies_info_container_shawahank">
        <div class="front_of_pic_shawahank">
            <img src="https://i.pinimg.com/736x/94/9c/81/949c81eb8742d3a2c150137af5507bae.jpg" alt="shawshank">
        </div>
        <div class="back-of_pic_shawahank">
            <div class="details">
                <h2>Shawshank redemption</h2>
                <p>Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne
                    begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral
                    warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates --
                    including an older prisoner named Red -- for his integrity and unquenchable sense of hope.</p>
                <a href="https://www.youtube.com/watch?v=NmzuHjWmXOc">Link to movie trailer</a>


            </div>
        </div>
    </div>



</div>